<!DOCTYPE html>
<html lang="">

<head>
    <title>爱乐之城——详细信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }

        body {
            color: rgb(79, 110, 147)
        }
    </style>
</head>

<body class="w3-theme-l5">

<nav>
    <div class="w3-top" style="width: 100%">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <b class="w3-bar-item w3-button">开心往前飞</b>
            <a href="#" class="w3-bar-item w3-button"> 首页</a>
            <a href="#" target="_blank" class="w3-bar-item w3-button">登录/注册</a>
            <a href="#" target="_blank" class="w3-bar-item w3-button">个人主页</a>
        </div>
    </div>
</nav>

<div class="layui-row" style="margin-top:70px"> </div>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <div class="w3-container w3-center w3-animate-top">
            <h1>爱乐之城（La La Land）</h1>
            <p>梦想与现实之间的朦胧博弈，情感面临抉择和考验，挫折与分歧后，他们彼此鼓励对方绝不放弃梦想……</p>
        </div>
        <div class="w3-container w3-light-grey">
            <p><i><b>"How are you gonna be a revolutionary if you're such a traditionalist?"</b></i></p>
        </div>

    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="https://pic4.zhimg.com/v2-e9c84e4fbdc2b7b43ae447071ad39ce0_1440w.jpg?source=172ae18b"
                     alt="Nature" style="width:100%">
                <div class="w3-container">
                    <h3><b>爱乐之城（La La Land）</b></h3>
                    <h5>上映日期： <span class="w3-opacity">2016年12月16日（美国）</span></h5>
                </div>

                <div class="w3-container">
                    <p>故事发生在洛杉矶，寂寥的小演员米娅的志向是女演员兼剧作家，她沉迷老电影明星。她在华纳兄弟的片场当咖啡师，经常翘班去试镜，如果接到戏，哪怕再小的角色也会让她欣喜若狂。
                        塞巴斯汀是一名系丝绸领带的爵士钢琴师，对艺术有着近乎洁癖的追求。但为了生存，他违心加入了一支流行爵士乐队，在尖叫的观众面前摆弄音乐合成器。
                        同样追求梦想的两人在这座城市里遇见彼此，在唱唱跳跳中坠入了爱河，相互慰藉扶持，一起追求毕生梦想。但在逐渐达成梦想的同时，现实令两人的情感面临抉择和考验……</p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p>
                                <button class="w3-button w3-padding-large w3-white w3-border">
                                    <a href="https://baike.baidu.com/item/%E7%88%B1%E4%B9%90%E4%B9%8B%E5%9F%8E/16846866"
                                       target="_blank"><b>READ MORE »</b></a></button>
                            </p>
                        </div>
                        <div class="w3-col m4 w3-hide-small">
                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">666</span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>


            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="https://p1.ssl.qhimg.com/t014b6db07ed4689e52.jpg"
                     style="width:100%" alt="">
                <div class="w3-container w3-white">
                    <h4><b>导演：Damien Chazelle</b></h4>
                    <p>达米恩·查泽雷，1985年1月19日出生于美国罗德岛州普罗维登斯，毕业于哈佛大学，美国电影导演、编剧、制片人。
                        2014年，执导的剧情片《爆裂鼓手》获得圣丹斯电影节评审团大奖、第87届奥斯卡金像奖最佳改编剧本奖提名。
                        2016年，执导的剧情歌舞片《爱乐之城》获得第89届奥斯卡金像奖最佳导演奖、第73届威尼斯国际电影节金狮奖提名，并成为奥斯卡金像奖史上最年轻的奥斯卡金像奖最佳导演奖的得主。
                    </p>
                </div>
            </div>
            <hr>

            <!-- Posts -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>角色介绍</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="https://bkimg.cdn.bcebos.com/pic/38dbb6fd5266d016092405228178c30735fae6cd9f24?x-bce-process=image/crop,x_0,y_0,w_670,h_881/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                             alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">米娅 （演员：艾玛·斯通）</span><br>
                        <span>米娅在餐厅做服务员工作，但是却怀揣一个成为出色女演员兼剧作家的梦想。她倾尽心血努力寻找机会表演，但选角导演们对她的表演漠不关心。米娅为此经常面试却屡屡碰壁。
          后遇见在酒吧弹奏爵士乐的塞巴斯蒂安，同样的艺术理想使他们互相吸引，并成为恋人。</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://bkimg.cdn.bcebos.com/pic/8b82b9014a90f603738d7f4f2f41a41bb051f8194725?x-bce-process=image/crop,x_0,y_0,w_1015,h_1351/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                             alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">塞巴斯蒂安 （演员：瑞恩·高斯林）</span><br>
                        <span>曾经生活在人类世界一条叫做“琥珀川”的河流里的龙，但因为河流被人类掩埋而无家可归，来到汤屋在汤婆婆门下学魔法，是澡堂的实际管理人员，
            汤婆婆的得力助手。他在千寻小的时候救过落水的千寻，并且记得她的名字。为此他冒险给了千寻很多帮助。</span>
                    </li>
                </ul>
            </div>
            <hr>


            <!-- END Introduction Menu -->
        </div>

        <!-- END GRID -->
    </div>
    <br>

    <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-grey w3-padding-32 w3-margin-top">
    <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>

    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
        <a href="https://baike.baidu.com/item/%E5%A4%A9%E7%A9%BA%E4%B9%8B%E5%9F%8E/6298"
           target="_blank">购票邀约»</a></button>

    <div class="w3-container w3-dark-grey">
        <p> Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">开心往前飞</a></p>
    </div>
</footer>

</body>

</html>
