{# 聊天室界面 #}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聊天室</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Favicon -->
    <link rel="icon" href="../static/chat_module/dist/media/img/favicon.png" type="image/png">

    <!-- Bundle Styles -->
    <link rel="stylesheet" href="../static/chat_module/vendor/bundle.css">

    <link rel="stylesheet" href="../static/chat_module/vendor/enjoyhint/enjoyhint.css">

    <!-- App styles -->
    <link rel="stylesheet" href="../static/chat_module/dist/css/app.min.css">
</head>
<body>
<!--
<nav>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <b class="w3-bar-item w3-button">开心往前飞</b>
            <a href="/index_page" class="w3-bar-item w3-button">首页</a>
            <a href="/login" class="w3-bar-item w3-button">登录</a>
            <a href="/register" class="w3-bar-item w3-button">注册</a>
            <a href="/home_page" class="w3-bar-item w3-button">个人主页</a>
        </div>
    </div>
</nav>
<div class="layui-row" style="margin-top:700px"></div>
-->

<!-- page loading -->
<div class="page-loading">
    <!-- ./ page loading -->

    <!-- page tour modal -->
    <!-- ./ page tour modal -->

    <!-- disconnected modal -->
    <!-- ./ disconnected modal -->

    <!-- voice call modal -->
    <!-- ./ voice call modal -->

    <!-- voice call modal -->
    <!-- ./ voice call modal -->

    <!-- add friends modal -->
    <!-- ./ add friends modal -->

    <!-- new group modal -->
    <!-- ./ new group modal -->

    <!-- setting modal -->
    <!-- ./ setting modal -->

    <!-- edit profile modal -->
    <!-- ./ edit profile modal -->

    <!-- layout -->
    <div class="layout">

        <!-- navigation -->
        <nav class="navigation">
            <div class="nav-group">
                <ul>
                    <li class="logo">
                        <a href="#">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 x="0px" y="0px"
                                 width="612px" height="612px" viewBox="0 0 612 612"
                                 style="enable-background:new 0 0 612 612;" xml:space="preserve">
                            <g>
                                <g id="_x32__26_">
                                    <g>
                                    <path d="M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25
                                    c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75
                                    c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125
                                    S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612
                                    l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z
                                    M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75
                                    c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z"></path>
                                    </g>
                                </g>
                            </g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a class="active" data-navigation-target="聊天室" href="#" data-toggle="tooltip" title="聊天室"
                           data-placement="right">
                            <span class="badge badge-warning"></span>
                            <i data-feather="message-circle"></i>
                        </a>
                    </li>

                    <li class="brackets">
                    </li>

                    <li>
                        <a href="#" class="dark-light-switcher" data-toggle="tooltip" title="Dark mode"
                           data-placement="right">
                            <i data-feather="moon"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="User menu" data-placement="right">
                        <a href="../static/chat_module/login.html" data-toggle="dropdown">
                            <div>
                                <figure class="avatar">
                                    <span class="avatar-title bg-info rounded-circle">M</span>
                                </figure>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" data-navigation-target="contact-information">个人主页</a>
                            <div class="dropdown-divider"></div>
                            <a href="../static/chat_module/login.html" class="dropdown-item text-danger">登出</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ./ navigation -->

        <!-- content -->
        <div class="content">

            <!-- sidebar group -->
            <div class="sidebar-group">

                <!-- Chats sidebar -->

                <!-- ./ Chats sidebar -->

                <!-- Friends sidebar -->
                <!-- ./ Friends sidebar -->

                <!-- Favorites sidebar -->
                <!-- ./ Stars sidebar -->

                <!-- Archived sidebar -->
                <!-- ./ Archived sidebar -->

            </div>
            <!-- ./ sidebar group -->

            <!-- chat -->
            <div class="chat">
                <div class="chat-header">
                    <div class="chat-header-user">
                        <figure class="avatar">
                            <img src="../static/chat_module/dist/media/img/man_avatar3.jpg" class="rounded-circle"
                                 alt="image">
                        </figure>
                        <div>
                            <h5>Guittet</h5>
                            <small class="text-success">
                                <i>writing...</i>
                            </small>
                        </div>
                    </div>
                    <div class="chat-header-action">
                        <ul class="list-inline">
                            <li class="list-inline-item d-xl-none d-inline">
                                <a href="#" class="btn btn-outline-light mobile-navigation-button">
                                    <i data-feather="menu"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" data-toggle="tooltip" title="Voice call">
                                <a href="#" class="btn btn-outline-light text-success" data-toggle="modal"
                                   data-target="#call">
                                    <i data-feather="phone"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" data-toggle="tooltip" title="Video call">
                                <a href="#" class="btn btn-outline-light text-warning" data-toggle="modal"
                                   data-target="#videoCall">
                                    <i data-feather="video"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-light" data-toggle="dropdown">
                                    <i data-feather="more-horizontal"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Delete</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-danger">Block</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chat-body"> <!-- .no-message -->
                    <!--
                    <div class="no-message-container">
                        <div class="row mb-5">
                            <div class="col-md-4 offset-4">
                                <img src="./dist/media/svg/undraw_empty_xct9.svg" class="img-fluid" alt="image">
                            </div>
                        </div>
                        <p class="lead">Select a chat to read messages</p>
                    </div>
                    -->
                    <div class="messages">
                        <div class="message-item outgoing-message">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/women_avatar5.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Mirabelle Tow</h5>
                                    <div class="time">01:20 PM <i class="ti-double-check text-info"></i></div>
                                </div>
                            </div>
                            <div class="message-content">
                                Hello how are you?
                            </div>
                        </div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">01:35 PM</div>
                                </div>
                            </div>
                            <div class="message-content">
                                I'm fine, how are you 😃
                            </div>
                        </div>
                        <div class="message-item outgoing-message">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/women_avatar5.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Mirabelle Tow</h5>
                                    <div class="time">05:31 PM <i class="ti-double-check text-info"></i></div>
                                </div>
                            </div>
                            <div class="message-content">
                                I'm fine thank you. I expect you to send me some files.
                            </div>
                        </div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">10:12 PM</div>
                                </div>
                            </div>
                            <div class="message-content">
                                What files are you talking about? I'm sorry I can't remember right now.
                            </div>
                        </div>
                        <div class="message-item outgoing-message">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/women_avatar5.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Mirabelle Tow</h5>
                                    <div class="time">11:56 PM <i class="ti-double-check text-info"></i></div>
                                </div>
                            </div>
                            <div class="message-content">
                                I want those files for you. I want you to send 1 PDF and 1 image file.
                            </div>
                        </div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">11:59 PM</div>
                                </div>
                            </div>
                            <div class="message-content message-file">
                                <div class="file-icon">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                                <div>
                                    <div>important_documents.pdf <i class="text-muted small">(50KB)</i></div>
                                    <ul class="list-inline">
                                        <li class="list-inline-item mb-0"><a href="#">Download</a></li>
                                        <li class="list-inline-item mb-0"><a href="#">View</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="message-item messages-divider sticky-top" data-label="Today"></div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">07:15 AM</div>
                                </div>
                            </div>
                            <div class="message-content">
                                I'm about to send the other file now.
                            </div>
                        </div>
                        <div class="message-item outgoing-message">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/women_avatar5.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Mirabelle Tow</h5>
                                    <div class="time">07:45 AM <i class="ti-double-check text-info"></i></div>
                                </div>
                            </div>
                            <div class="message-content">
                                Thank you so much. These files are very important to me. I guess you didn't make any
                                changes
                                to these files. So I need the original versions of these files. Thank you very much
                                again.
                            </div>
                        </div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">08:00 AM</div>
                                </div>
                            </div>
                            <div class="message-content">
                                I thank you. We are glad to help you.
                            </div>
                        </div>
                        <div class="message-item outgoing-message">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/women_avatar5.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Mirabelle Tow</h5>
                                    <div class="time">09:23 AM <i class="ti-double-check text-info"></i></div>
                                </div>
                            </div>
                            <div class="message-content">
                                Wow！！！
                            </div>
                        </div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">10:43 AM</div>
                                </div>
                            </div>
                            <figure>
                                <img src="../static/chat_module/dist/media/img/image1.jpg"
                                     class="w-25 img-fluid rounded"
                                     alt="image">
                            </figure>
                        </div>
                        <div class="message-item outgoing-message">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/women_avatar5.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Mirabelle Tow</h5>
                                    <div class="time">10:50 AM <i class="ti-double-check text-info"></i></div>
                                </div>
                            </div>
                            <div class="message-content">
                                You are good！
                            </div>
                        </div>
                        <div class="message-item messages-divider" data-label="1 message unread"></div>
                        <div class="message-item">
                            <div class="message-avatar">
                                <figure class="avatar">
                                    <img src="../static/chat_module/dist/media/img/man_avatar3.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </figure>
                                <div>
                                    <h5>Byrom Guittet</h5>
                                    <div class="time">11:05 AM</div>
                                </div>
                            </div>
                            <div class="message-content">
                                I sent you all the files. Good luck！
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 弹窗内容 -->
                <div class="w3-container">

                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content w3-animate-top w3-pale-red">
                            <header class="w3-container w3-teal w3-pale-red">
                      <span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>
                                <h1>Invite Success</h1>
                            </header>
                            <div class="w3-container">
                                <p>恭喜您成功领取到了10元优惠券</p>
                                <p>领取金额:</p>
                            </div>
                            <footer class="w3-container w3-teal w3-pale-red">
                                <p>注：有效期至</p>
                            </footer>
                        </div>
                    </div>
                </div>

                <div class="chat-footer">
                    <form>
                        <div>
                            <button class="btn btn-light mr-3" data-toggle="tooltip" title="Emoji" type="button">
                                <i data-feather="smile"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="Write a message.">
                        <div class="form-buttons">
                            <button class="btn btn-light" data-toggle="tooltip"
                                    onclick="document.getElementById('id01').style.display='block'" title="邀约"
                                    type="button">
                                <i data-feather="paperclip"></i>
                            </button>
                            <button class="btn btn-light d-sm-none d-block" data-toggle="tooltip"
                                    title="Send a voice record" type="button">
                                <i data-feather="mic"></i>
                            </button>
                            <button class="btn btn-primary" type="submit">
                                <i data-feather="send"></i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <!-- ./ chat -->

            <!-- ./ content -->
        </div>

    </div>
    <!-- ./ layout -->
</div>
<!-- Bundle -->
<script src="../static/js/https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/chat_module/vendor/bundle.js"></script>
<script src="../static/chat_module/vendor/feather.min.js"></script>
<script src="../static/chat_module/vendor/enjoyhint/enjoyhint.min.js"></script>

<!-- App scripts -->
<script src="../static/chat_module/dist/js/app.min.js"></script>

<!-- Examples -->
<script src="../static/chat_module/dist/js/examples.js"></script>
</body>
</html>