{# 电影详情页面#}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ movie['name'] }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }

        body {
            color: rgb(79, 110, 147)
        }
    </style>
</head>
<body>
<nav>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <b class="w3-bar-item w3-button">开心往前飞</b>
            <a href="/index_page" class="w3-bar-item w3-button">首页</a>
            <a href="/login" class="w3-bar-item w3-button">登录</a>
            <a href="/register" class="w3-bar-item w3-button">注册</a>
            <a href="/home_page" class="w3-bar-item w3-button">个人主页</a>
        </div>
    </div>
</nav>
<div class="layui-row" style="margin-top:10px">
    &nbsp;
</div>
<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
    <div class="w3-container w3-center w3-animate-top">
        <h1>{{ movie['name'] }}</h1>
        {#        <p>{{ data[2] }}</p>#}
    </div>
    <div class="w3-container w3-light-grey">
        <p><i>{{ data[3] }}</i></p>
    </div>
</header>

<!-- Grid -->
<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
            <img src="../static/img/index_1.jpg" alt="Nature" style="width:100%;">
            <div class="w3-container">
                <h3><b>{{ movie['name'] }}</b></h3>
                <h5>上映日期： <span class="w3-opacity">{{ data[4] }}</span></h5>
            </div>

            <div class="w3-container">
                <p> {{ data[5] }}</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p>
                            <button class="w3-button w3-padding-large w3-white w3-border" id="yaoyue">
                                <a href="/invite_page?moviename={{ movie['name'] }}"><b>进入邀约 »</b></a>
                            </button>
                        </p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p><span class="w3-padding-large w3-right"><b>预约人数  </b> <span class="w3-tag">{{ data[7] }}
          </span></span></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- END BLOG ENTRIES -->
    </div>

    <!-- Introduction menu -->
    <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
{#            <img src="{{ movie['picture'] }}" alt="加载失败" style="width:100%">#}
            <div class="w3-container w3-white">
                <h4><b>导演：{{ movie['daoyan'] }}</b></h4>
                <p>宫崎骏，1941年1月5日出生于日本东京都文京区，日本动画师、动画制作人、漫画家、动画导演、动画编剧。毕业于日本东京学习院大学政治经济部。
                    1986年执导《天空之城》，该片获得第41回每日电影奖大藤信郎赏等6项大奖。1988年执导《龙猫》，该片荣获第13回报知电影奖最佳导演奖等24项大奖。
                    2001年执导《千与千寻》，该片荣获第75届奥斯卡金像奖最佳动画长片奖、第52届柏林国际电影节金熊奖等9项大奖。
                </p>
            </div>
        </div>
        <hr>

        <!-- Posts -->
        <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
                <h4>角色介绍</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">
                <li class="w3-padding-16">
                    <img src="https://bkimg.cdn.bcebos.com/pic/728da9773912b31bb0512bea9b49217adab44bed4bec?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                         alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">千寻 （配音：柊瑠美）</span><br>
                    <span>她留在澡堂“汤屋”工作，逐渐成长。汤婆婆为了控制来到这里的人，将她名字改为小千。
            最后帮助白龙想起了自己的名字，解除身上的咒语。</span>
                </li>
                <li class="w3-padding-16">
                    <img src="https://bkimg.cdn.bcebos.com/pic/b21bb051f8198618367a0c5b57bc39738bd4b21c48e8?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                         alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">白龙 （配音：赈早见琥珀主）</span><br>
                    <span>。他在千寻小的时候救过落水的千寻，并且记得她的名字。为此他冒险给了千寻很多帮助。</span>
                </li>
                <li class="w3-padding-16">
                    <img src="https://bkimg.cdn.bcebos.com/pic/91529822720e0cf3d7ca72e61417e51fbe096b637cd7?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                         alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">汤婆婆 （配音：夏木真理）</span><br>
                    <span>澡堂“账，是一个十足的吝啬小老板形象。</span>
                </li>
                <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                    <img src="https://bkimg.cdn.bcebos.com/pic/f11f3a292df5e0fe9925ded6413123a85edf8cb1d491?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                         alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">无脸男 （配音：中村彰男）</span><br>
                    <span>神秘的的喜爱。然而他在澡堂里逐渐受到了金钱和世俗的影响，成了一个可以变出金子，不停地吃东西甚至吃人的怪物。</span>
                </li>
            </ul>
        </div>
        <hr>

        <!-- END Introduction Menu -->
    </div>

    <!-- END GRID -->
</div>
<br>
<div>
    <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-grey w3-padding-32 w3-margin-top">
    <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Welcome</button>

    <button class="w3-button w3-black w3-padding-large w3-margin-bottom" onclick="window.location.href='/invite_page?moviename={{ movie['name'] }}'">
        进入邀约»
    </button>

    <div class="w3-container w3-dark-grey">
        <p> Powered by <a href="/fly" target="_blank">开心往前飞</a></p>
    </div>
</footer>
</body>

</html>
