<!DOCTYPE html>
<html lang="">
<head>
    <title>个人主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey">

<nav>
    <div class="w3-top" style="width: 100%">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <b class="w3-bar-item w3-button">开心往前飞</b>
            <a href="#" class="w3-bar-item w3-button"> 首页</a>
            <a href="#" target="_blank" class="w3-bar-item w3-button">登录/注册</a>
            <a href="#" target="_blank" class="w3-bar-item w3-button">个人主页</a>
        </div>
    </div>
</nav>

<div class="layui-row" style="margin-top:70px"> </div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="https://ts3.cn.mm.bing.net/th?id=OIP-C.9ZZva98r3IDj01xEtOOHbQAAAA&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2"
                         style="width:100%" alt="Avatar">

                </div>
                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>景观设计师,女</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>武汉, 湖北</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
                    </p>
                    <p>Adobe Photoshop</p>
                    <p>Adobe Photoshop</p>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Address</b>
                    </p>
                    <p>湖北省武汉市ccnu</p>
                    <div class="w3-light-grey w3-round-xlarge">
                    </div>

                    <br>
                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Personal Information
                </h2>
                <hr>
                <!-- Contact -->
                <div class="w3-container" id="contact">

                    <form action="/action_page.php" target="_blank">
                        <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Sex" required name="Name"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Phone Number" required
                                  name="Name"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Education Level" required
                                  name="Name"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Job Positon" required name="Name">
                        </p>
                        <p><input class="w3-input w3-border" type="text" placeholder="City" required name="Name"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Specialty" required name="Name">
                        </p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Address" required name="Name"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Self-introduction" required
                                  name="Message"></p>
                        <button type="submit" class="w3-button w3-green w3-third ">Submit</button>
                    </form>
                </div>

                <hr>
            </div>

            <div class="w3-container">
                <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
            </div>
        </div>

        <div class="w3-container w3-card w3-white">
            <div class="w3-container">
                <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                <p>Web Development! All I need to know in one place</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>London Business School</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
                <p>Master Degree</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>School of Coding</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                <p>Bachelor Degree</p><br>
            </div>
        </div>

        <!-- End Right Column -->
    </div>

    <!-- End Grid -->
</div>

<!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">开心往前飞</a></p>
</footer>

</body>
</html>