<!DOCTYPE html>
{#这个页面还差几个方法 一个是退出登录 一个是删除好友和和好友聊天（目前想的是定义一个函数 oncick事件 这样就知道是那个了）
一个是添加好友的方法 反正都是和好友相关的
#}
<html>
<head>
    <title>个人中心</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <style> html, body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    } </style>
</head>

<body class="w3-light-grey">
<div style="width: 90%;margin-left: 5%">
    <!-- Top container -->
    <!-- Navbar (sit on top) -->
    <div class="w3-top" style="width: 90%">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <b class="w3-bar-item w3-button">开心往前飞</b>
            <a href="index_page" class="w3-bar-item w3-button">首页</a>
            <a href="index_page" class="w3-bar-item w3-button" id="tuichudenglu" name="tuichudenglu">退出登录</a>
        </div>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:280px;margin-top: 20px"
         id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="../static/img/touxiang_1.jpg" class="w3-circle w3-margin-right" style="width:46px">
            </div>
            <div class="w3-col s8 w3-bar">
                <span><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ data['name'] }}</strong></span><br>
                <a href="/chat_room" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-bar-block">
            {#  <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"#}
            {#   onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>#}
            <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '好友')"><i
                    class="fa fa-users fa-fw"></i>  好友列表
            </button>
            <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '基本信息')"><i
                    class="fa fa-cog fa-fw"></i>  基本信息
            </button>

            {# <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '基本信息')">#}
            {#   <small>基本信息</small>#}
            </button>
            <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '修改信息')">
                <small>修改信息</small>
            </button>
            <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '修改密码')">
                <small>修改密码</small>
            </button>
            <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '我的邀约')">
                <small>我的邀约</small>
            </button>
            <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event, '我的优惠券')">
                <small>我的优惠券</small>
            </button>
            <br><br>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
         title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
        <br>
        <div style="margin-left:10px">

            <!-- 好友列表栏 -->
            <div id="好友" class="w3-container city" style="display:none">
                <h2>My friends</h2>
                <div class="w3-container">
                    <br>
                    <ul class="w3-ul w3-card-4 w3-light-grey">
                        {% for k in friend %}
                            <li class="w3-padding-16">
                                <span class="w3-xlarge" style="width: 200px">{{ k['name'] }}</span>
                                <span class="w3-xlarge" style="width: 200px">{{ k['phone'] }}</span>
                                <button class="w3-button w3-right w3-dark-grey" style="margin-left: 20px"
                                        name="{{ k['name'] }}" id="{{ k['name'] }}">Chat  
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                                <button class="w3-button w3-right w3-dark-grey"
                                        name="{{ k['name'] }}2" id="{{ k['name'] }}2">Delete  
                                    <i class="fa fa-close"></i>
                                </button>
                                <br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                <br>
            </div>
            <!-- 好友列表end -->

            <!-- 基本信息 -->
            <div id="基本信息" class="w3-container city">
                <h2>Information Settlement</h2>
                <div class="w3-container">
                    <h3><i>The Basic Information</i></h3>
                    <div class="w3-container" id="contact">
                        <form>
                            <h6 class="w3-opacity">用户名：</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['name'] }}</p>
                            <h6 class="w3-opacity">性别</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['sex'] }}</p>
                            <h6 class="w3-opacity">联系方式：</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['phone'] }}</p>
                            <h6 class="w3-opacity">年龄：</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['age'] }}</p>
                            <h6 class="w3-opacity">所在位置：</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['adderss'] }}</p>
                            <h6 class="w3-opacity">个人简介</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['breif'] }}</p>

                            <button type="button" class="w3-button w3-green w3-third " style="margin-left: 35%"
                                    href="/index"
                                    id="tuichudenglu" name="tuichudenglu">退出登录
                            </button>
                        </form>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <!-- 基本信息 end-->

            <!-- 修改信息 -->
            <div id="修改信息" class="w3-container city" style="display:none">
                <h2>Information Settlement</h2>
                <div class="w3-container">
                    <h3><i>Modify the Information</i></h3>

                    <div class="w3-container" id="contact">
                        <form method="post">
                            <h6 class="w3-opacity">用户名：（不可修改）</h6>
                            <p contenteditable="true" class="w3-border w3-padding">{{ data['name'] }}</p>

                            <h6 class="w3-opacity">性别：</h6>
                            <input class="w3-input w3-border" type="text" placeholder="Sex" name="Sex" id="Sex">

                            <h6 class="w3-opacity">联系方式：</h6>
                            <input class="w3-input w3-border" type="text" placeholder="Phone Number" id="Phone_Number"
                                   name="Phone_Number">

                            <h6 class="w3-opacity">年龄：</h6>
                            <input class="w3-input w3-border" type="text" placeholder="Age" name="Age" id="Age">

                            <h6 class="w3-opacity">所在位置：</h6>
                            <input class="w3-input w3-border" type="text" placeholder="Address" name="Address"
                                   id="Address">

                            <h6 class="w3-opacity">个人简介：</h6>
                            <input class="w3-input w3-border" type="text" placeholder="Self-introduction"
                                   id="Self_introduction"
                                   name="Self_introduction">

                            <h6 class="w3-opacity">头像：</h6>
                            <input class="w3-input w3-border" type="text" placeholder="Selfie" name="Selfie"
                                   id="Selfie">
                            <br>
                            <div>
                                <button type="button" class="w3-button w3-blue w3-third " style="margin-left: 15%"
                                        id="Cancel" name="Cancel">
                                    Cancel
                                </button>
                                <button type="button" class="w3-button w3-green w3-third " style="margin-left: 20px"
                                        id="Submit" name="Submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <!-- 修改信息 end-->

            <!-- 修改密码 -->
            <div id="修改密码" class="w3-container city" style="display:none">
                <h2>Information Settlement</h2>
                <div class="w3-container">
                    <h3><i>Change The Password</i></h3>
                    <div class="w3-container" id="contact">
                        <form method="post">
                            <h6 class="w3-opacity">旧密码：</h6>
                            <input class="w3-input w3-border" type="password" placeholder="（必填）"
                                   required name="oldmima" id="oldmima">

                            <h6 class="w3-opacity">新密码：</h6>
                            <input class="w3-input w3-border" type="password" placeholder="（必填）"
                                   required name="newmima" id="newmima">

                            <h6 class="w3-opacity">确认新密码：</h6>
                            <input class="w3-input w3-border" type="password" placeholder="（必填 请再次输入新密码）"
                                   required name="newmima2" id="newmima2">
                            <hr>
                            <button type="button" class="w3-button w3-blue w3-third " style="margin-left: 15%"
                                    name="mimaCancel" id="mimaCancel">Cancel
                            </button>
                            <button type="button" class="w3-button w3-green w3-third " style="margin-left: 20px"
                                    name="mimaSubmit" id="mimaSubmit">Submit
                            </button>
                        </form>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <!-- 修改密码 end-->

            <!-- 我的邀约-->
            <div id="我的邀约" class="w3-container city" style="display:none">
                <h2>Information Settlement</h2>
                <div class="w3-container">
                    <h3><i>My Invitations</i></h3>
                    {% for k in yaoyuelist %}
                        <button type="button" class="w3-button w3-block w3-left-align w3-gray">
                            {{ k['time'] }}
                        </button>
                        <div id="Demo2" class="w3-container">
                            <p>电影：{{ k['movie'] }}</p>
                            <p>受邀者：{{ k['person'] }}</p>
                            <p>邀请者：{{ k['user'] }}</p>
                        </div>
                    {% endfor %}
                    <br>
                    <br>
                </div>
            </div>
            <!-- 我的邀约 end-->

            <!-- 我的优惠券-->
            <div id="我的优惠券" class="w3-container city" style="display:none">
                <h2>Information Settlement</h2>
                <div class="w3-container">
                    <h3><i>My Coupons</i></h3>
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                        <tr class="w3-light-grey">
                            <th>优惠卷名称</th>
                            <th>开始日期</th>
                            <th>截止日期</th>
                            <th>优惠金额</th>
                        </tr>
                        </thead>
                        {% for k in yhj %}
                            <tr>
                                <td>{{ k['name'] }}</td>
                                <td>{{ k['time'] }}</td>
                                <td>{{ k['timeout'] }}</td>
                                <td>{{ k['money'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <br>
                </div>
            </div>
            <!-- 我的优惠券end-->


            <!-- Footer -->
            <footer class="w3-container w3-padding-16 w3-grey">
                <div class="w3-container w3-dark-grey">
                    <p> Powered by <a href="/fly" target="_blank">开心往前飞</a></p>
                </div>
            </footer>

            <!-- End page content -->
        </div>
    </div>
</div>
</body>
<!-- 这是模板要用的方法-->
<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }

    //选项栏
    function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-red";
    }
</script>
<!-- 有功能的方法-->
<!-- 修改信息的方法-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#Submit').on('click', function () {
            let touxiang = $('#Selfie').val();
            let phone = $('#Phone_Number').val();
            let age = $('#Age').val();
            let sex = $('#Sex').val();
            let address = $('#Address').val();
            let brief = $('#Self_introduction').val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/xiugaixinxi',
                data: {
                    'head_portrait': touxiang,
                    'gender': sex,
                    'age': age,
                    'self_introduction': brief,
                    'current_address': address,
                    'phone_number': phone
                },
                success: function (flag) {
                    alert(flag);
                    $(location).attr("href", "home_page")
                }
            })
        })
        $('#Cancel').on('click', function () {
            $('#Selfie').val("");
            $('#Phone_Number').val("");
            $('#Age').val("");
            $('#Sex').val("");
            $('#Address').val("");
            $('#Self_introduction').val("");
        })
    })
</script>
<!-- 修改密码的方法-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#mimaSubmit').on('click', function () {
            let old = $('#oldmima').val();
            let new_m = $('#newmima').val();
            let new_m2 = $('#newmima2').val();

            if (new_m !== new_m2)
                alert("两次密码不一致！")
            else if (old != {{ data['password'] }})
                alert("原密码不正确！");
            else
                $.ajax({
                    type: "POST",
                    url: '/xiugaimima',
                    data: {
                        'oldmima': old,
                        'xinmima': new_m
                    },
                    success: function () {
                        alert("修改成功");
                        $(location).attr("href", "home_page")
                    }
                })
        })
        $('#mimaCancel').on('click', function () {
            $('#oldmima').val('');
            $('#newmima').val('');
            $('#newmima2').val('');
        })
    })
</script>
</html>
