{#主页界面#}
<!DOCTYPE html>
<html lang="">
<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>

<!-- Navbar (sit on top) -->
<nav>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <b class="w3-bar-item w3-button">开心往前飞</b>
            <a href="/index_page" class="w3-bar-item w3-button">首页</a>
            <a href="/login" class="w3-bar-item w3-button">登录</a>
            <a href="/register" class="w3-bar-item w3-button">注册</a>
            <a href="/home_page" class="w3-bar-item w3-button">个人主页</a>

            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#Hot" class="w3-bar-item w3-small w3-button">热映中</a>
                <a href="#projects" class="w3-bar-item w3-small w3-button">精品推荐</a>
                <a href="#contact" class="w3-bar-item w3-small w3-button">即将上映</a>
                <a href="#Search" class="w3-bar-item w3-small w3-button">搜索</a>
            </div>
        </div>
    </div>
</nav>
<div class="layui-row" style="margin-top:30px">
    &nbsp;
</div>
<!-- 头部 -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="../static/img/header.jpg" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min">
        <b>FLY</b></span> <span class="w3-hide-small w3-text-light-grey">MOVIES</span></h1>
    </div>
</header>


<div class="w3-content w3-padding" style="max-width:1564px">
    <!-- 第一部分 热映中 -->
    <div class="w3-container w3-padding-32" id="Hot">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">热映中</h3>
    </div>
    <div class="w3-row-padding w3-padding-16">
        {% for k in range(4) %}
            <div class="w3-third w3-margin-bottom" style="width:25%">
                <div style="text-align: center;margin: 0">
                    <img src="{{ movies[k]['picture'] }}" alt="Norway" style="width: 100%;height: 450px;"
                         onclick="window.location.href='details_page?moviename='+'{{ movies[k]['name'] }}';">
                </div>
                <div class="w3-container w3-light-gray" style="text-align: center">
                    <h3>{{ movies[k]['name'] }}</h3>
                    <h6 class="w3-opacity">评分: {{ movies[k]['socre'] }}</h6>
                    <p>影片时长：{{ movies[k]['time'] }}</p>
                    <p class="w3-large"></p>
                    <button class="w3-button w3-block w3-black w3-margin-bottom"
                            onclick="window.location.href='details_page?moviename='+'{{ movies[k]['name'] }}';">我想看
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- 第二部分 精品推荐 -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">精品推荐</h3>
    </div>
    <div class="w3-row-padding">
        {% for k in range(3,8) %}
            <div class="w3-col l3 m6 w3-margin-bottom" style="width: 20%">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">{{ movies[k]['name'] }}</div>
                    <img src="{{ movies[k]['picture'] }}" alt="House" style="width:100%;height: 400px;"
                         onclick="window.location.href='details_page?moviename='+'{{ movies[k]['name'] }}';">
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- 第三部分 即将上演 -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">即将上映</h3>
    </div>
    <div class="w3-row-padding">
        {% for k in movies %}
            <div class="w3-col l3 m6 w3-margin-bottom" style="width: 25%;">
                <img src="{{ k['picture'] }}" alt="John" style="width:100%;height: 400px"
                     onclick="window.location.href='details_page?moviename='+'{{ k['name'] }}';">
                <div>
                    <h3>{{ k['name'] }}</h3>
                    <p class="w3-opacity">{{ k['daoyan'] }}</p>
                    <p>该片根据斯蒂芬·埃德温·步步为营地谋划自我拯救并最终成功越狱，重获自由的故事。</p>
                    <p>
                        <button class="w3-button w3-light-grey w3-block"
                                onclick="window.location.href='details_page?moviename='+'{{ k['name'] }}';">预约观看
                        </button>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Search Section -->
    <div class="w3-container w3-padding-32" id="Search">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">搜索</h3>
        <p>输入你想观看的电影吧！</p>
        <form method="post">
            <label>
                <input class="w3-input w3-border w3-half" type="text" placeholder="Name" required name="Name">
            </label>
            <button class="w3-button w3-black" type="button" onclick="sousuo()">Search</button>
        </form>
    </div>
    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>一起看电影吧 致力于普及中国最好的电影它与中国一流院线合作提供在线电影检索，
        提供当下热门的电影大片在线观看服务，为您提供好看的电影，带你享受无以伦比的影视盛宴。
    </p>
    <p>Powered by <a href="/fly" title="W3.CSS" target="_blank" class="w3-hover-text-green">开心往前飞</a></p>
</footer>

</body>
<script>
    function sousuo() {
        alert("sousuo")
    }
</script>
</html>