<!DOCTYPE html>
<html>

<head>
    <title>千与千寻——详细信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }

        body {
            color: rgb(79, 110, 147)
        }
    </style>
</head>
<body>
<body class="w3-theme-l5">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <div class="w3-container w3-center w3-animate-top">
            <h1>千与千寻（千と千尋の神隠し）</h1>
            <p>女孩千寻意外来到神灵世界后，为了救因惩罚而变成猪的家人，经历磨难的考验……</p>
        </div>
        <div class="w3-container w3-light-grey">
            <p><i>"我只能送你到这里了，剩下的路你要自己走，不要回头。"</i></p>
        </div>

    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="https://img1.baidu.com/it/u=839972692,3334430612&fm=253&fmt=auto&app=138&f=JPEG?w=658&h=370"
                     alt="Nature" style="width:100%">
                <div class="w3-container">
                    <h3><b>千与千寻（千と千尋の神隠し）</b></h3>
                    <h5>上映日期： <span class="w3-opacity">2001年7月20日（日本）</span></h5>
                </div>

                <div class="w3-container">
                    <p>
                        小女孩千寻和父母一起在森林里迷了路，走过了一条神秘的隧道之后进入了一小镇。奇怪的是整个镇子一个人也没有。千寻的父母看到有一处店铺里存放着大量新鲜的食物，按奈不住诱惑便疯狂地吃了起来，却都变成了猪。无助的千寻只能逃跑，而此时她的身体正在慢慢消失。幸好途中遇到少年白龙。
                        然而千寻被汤婆婆用魔法剥夺了名字，成为小镇里的一员，名为“千”。在千寻工作期间，因为她天真善良的个性而结交了铃、无脸男等朋友，他们都帮助过千寻度过难关。
                        一天，千寻撞见一条受了重伤的小白龙，她拯救了白龙，并发现了他的真实身份。然而要救出双亲，她还必须面临严酷的考验。</p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p>
                                <button class="w3-button w3-padding-large w3-white w3-border">
                                    <a href="https://baike.baidu.com/item/%E5%8D%83%E4%B8%8E%E5%8D%83%E5%AF%BB/389041"
                                       target="_blank"><b>READ MORE »</b></a></button>
                            </p>
                        </div>
                        <div class="w3-col m4 w3-hide-small">
                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">666</span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>


            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="https://ts1.cn.mm.bing.net/th?id=OIP-C.Ikj6eBJzGAyRU8zINi5tTQHaEs&w=236&h=183&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2"
                     style="width:100%" alt="">
                <div class="w3-container w3-white">
                    <h4><b>导演：宫崎骏</b></h4>
                    <p>宫崎骏，1941年1月5日出生于日本东京都文京区，日本动画师、动画制作人、漫画家、动画导演、动画编剧。毕业于日本东京学习院大学政治经济部。
                        1986年执导《天空之城》，该片获得第41回每日电影奖大藤信郎赏等6项大奖。1988年执导《龙猫》，该片荣获第13回报知电影奖最佳导演奖等24项大奖。
                        2001年执导《千与千寻》，该片荣获第75届奥斯卡金像奖最佳动画长片奖、第52届柏林国际电影节金熊奖等9项大奖。
                    </p>
                </div>
            </div>
            <hr>

            <!-- Posts -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>角色介绍</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="https://bkimg.cdn.bcebos.com/pic/728da9773912b31bb0512bea9b49217adab44bed4bec?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                             alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">千寻 （配音：柊瑠美）</span><br>
                        <span>为了拯救变成猪的父母，逐渐成长。最后帮助白龙想起了自己的名字，解除身上的咒语。</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://bkimg.cdn.bcebos.com/pic/b21bb051f8198618367a0c5b57bc39738bd4b21c48e8?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                             alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">白龙 （配音：赈早见琥珀主）</span><br>
                        <span>因为河流被人类掩埋而无家可归，来到汤屋在汤婆婆门下学魔法。他救过落水的千寻，冒险给了千寻很多帮助。</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://bkimg.cdn.bcebos.com/pic/91529822720e0cf3d7ca72e61417e51fbe096b637cd7?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                             alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">汤婆婆 （配音：夏木真理）</span><br>
                        <span>澡堂“汤屋”的主管。经常会化身为黑翅膀的大鸟出门巡视，命令凡是不工作的人都要变成猪被吃掉。
          </span>
                    </li>
                    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                        <img src="https://bkimg.cdn.bcebos.com/pic/f11f3a292df5e0fe9925ded6413123a85edf8cb1d491?x-bce-process=image/crop,x_0,y_0,w_443,h_583/resize,m_lfit,h_780,limit_1/quality,Q_70/format,f_auto"
                             alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">无脸男 （配音：中村彰男）</span><br>
                        <span>神秘的鬼怪，全身黑色，头带一个白色面具。是一个渴望朋友的人。
            在澡堂里逐渐受到了金钱和世俗的影响，成了一个可以变出金子，不停地吃东西甚至吃人的怪物。</span>
                    </li>
                </ul>
            </div>
            <hr>


            <!-- END Introduction Menu -->
        </div>

        <!-- END GRID -->
    </div>
    <br>

    <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-grey w3-padding-32 w3-margin-top">
    <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>

    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
        <a href="https://baike.baidu.com/item/%E5%A4%A9%E7%A9%BA%E4%B9%8B%E5%9F%8E/6298"
           target="_blank">购票邀约»</a></button>

    <div class="w3-container w3-dark-grey">
        <p> Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">开心往前飞</a></p>
    </div>
</footer>
</body>
</body>
</html>
