<!DOCTYPE html>
<html>

<head>
<title>教父——详细信息</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
body{color:rgb(79, 110, 147)}
</style>
</head>
<body>
<body class="w3-theme-l5">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <div class="w3-container w3-center w3-animate-top">
    <h1>教父（The Godfather）</h1>
    <p>改编自马里奥·普佐的同名小说，讲述了以维托·唐·柯里昂为首的黑帮家族的发展过程以及柯里昂的小儿子迈克如何接任父亲成为黑帮首领的故事</p>
  </div>
  <div class="w3-container w3-light-grey">
    <p><i><b>"I'm gonna make him an offer he can't refuse"</b></i></p>
  </div>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://images4.alphacoders.com/646/thumbbig-646889.webp" 
    alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>教父（The Godfather）</b></h3>
      <h5>上映日期： <span class="w3-opacity">1972年3月24日（美国）</span></h5>
    </div>

    <div class="w3-container">
      <p>40年代的美国，“教父”维多·柯里昂（马龙·白兰度 饰）是黑手党柯里昂家族的首领，带领家族从事非法的勾当，
          但同时他也是许多弱小平民的保护神，深得人们爱戴。因为拒绝了毒枭索洛佐的毒品交易要求，柯里昂家族和纽约其他几个黑手党家族的矛盾激化。
          圣诞前夕，索洛佐劫持了军师汤姆，并派人暗杀“教父”，远离家族生意的小儿子麦克（阿尔·帕西诺 饰）也被卷了进来。黑手党之间的矛盾越来越白热化，五大家族即将开战。</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border">
              <a href="https://baike.baidu.com/item/%E6%95%99%E7%88%B6/4361541" 
              target="_blank"><b>READ MORE »</b></a></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">666</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>


<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://ts1.cn.mm.bing.net/th?id=OIP-C._wYjrUMB5Iiy8plE2Zq6HQHaE8&w=236&h=183&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2" 
  style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>导演：Francis Ford Coppola </b></h4>
      <p>弗朗西斯·福特·科波拉，1939年4月7日出生于美国密歇根州底特律市,家族为意大利移民。
        意大利裔美国导演、编剧、制片人，1972年，执导了黑帮电影《教父》，获得第45届奥斯卡金像奖最佳改编剧本奖。
        1974年，编导了黑帮电影《教父2》因此获得第47届奥斯卡金像奖最佳导演。1979年，独资拍摄了冒险剧情片《现代启示录》，因该片获得第32届戛纳国际电影节金棕榈奖。
        1990年，因执导黑帮电影《教父3》，获得第63届奥斯卡金像奖和第48届美国电影金球奖最佳导演提名。
      </p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>角色介绍</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://img1.doubanio.com/view/photo/m/public/p2872952398.webp" 
        alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">维托·柯里昂 （演员：马龙·白兰度）</span><br>
        <span>第一任教父，具有绅士风度和慑人的威严。他有一个准则，就是决不贩毒害人。
            为此他拒绝了毒枭索拉索的要求，并因此激化了与纽约其它几个黑手党家族的矛盾。</span>
      </li>
      <li class="w3-padding-16">
        <img src="https://img1.doubanio.com/view/photo/m/public/p2561636668.webp" 
        alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">迈克·柯里昂 （演员：艾尔·帕西诺）</span><br>
        <span>维托的小儿子，也是家中最小的孩子，继承了父亲沉着、冷静、精明、坚强的性格。成为第二代教父，并一次性清扫家族内奸及敌人。</span>
      </li> 
      <li class="w3-padding-16">
        <img src="https://img2.doubanio.com/view/photo/m/public/p2207382943.webp" 
        alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">桑提诺·桑尼·柯里昂 （演员：詹姆斯·凯恩）</span><br>
        <span>维托的大儿子，弗雷多与迈克尔的哥哥，性格火爆。因性格鲁莽，被对手设计杀死。</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://img9.doubanio.com/view/photo/m/public/p2197429834.webp" 
        alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">凯·亚当斯 （演员：黛安·基顿）</span><br>
        <span>迈克的大学同学和女友。成为迈克的妻子以后，她逐渐识清迈克的真实面目。</span>
      </li>  
    </ul>
  </div>
  <hr> 
 

  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
    <a href="https://baike.baidu.com/item/%E5%A4%A9%E7%A9%BA%E4%B9%8B%E5%9F%8E/6298" 
    target="_blank">购票邀约»</a></button>

    <div class="w3-container w3-dark-grey">
      <p> Powered by  <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">开心往前飞</a></p>
    </div>
</footer>

</body>

</html>
